h2 {
    border-bottom: 3px solid #4da6ff;
    padding-bottom: 5px;
    color: #2b7cd3;
}
    
h3 {
    color: #1e88e5;
    margin-top: 20px;
}

p {
    margin-bottom: 15px;
}
body {
 margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #cceeff, #99ddff, #66ccff);
    color: #1a2b3c;
}

header {
    background-color: orange;
    padding: 40px 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

nav {
    background-color: #3399ff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}



img {
    max-width: 100%;
}

footer {
    background-color: #4da6ff;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 280px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    overflow: hidden;
}

#chat-header {
    background: #3399ff;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#chat-box {
    height: 220px;
    overflow-y: auto;
    padding: 10px;
    font-size: 14px;
}

#user-input {
    width: 70%;
    padding: 10px;
    border: none;
}

button {
    width: 30%;
    border: none;
    background: #4da6ff;
    color: white;
    cursor: pointer;
}